* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Black Ops One', sans-serif;
  background-color: lightblue;
}

ul li {
  list-style: none;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.carta {
  display: inline-block;
  width: 150px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000;
  background-image: url("../img/pattern.png");
  background-size: 280px;
  background-repeat: repeat;
  position: relative;
}

.foto {
  position: absolute;
  display: none;
  top: 20px;
  left: 10px;
}
.scritta {
  width: 130px;
  height: 50px;
  top: 150px;
  left: 10px;
  position: absolute;
  color: white;
  line-height: 50px;
}

.carta:hover {
  background-color: white;
  background-image: none;
}

.carta:hover .foto{
  display: block;
  width: 130px;
  height: 130px;
}

.carta:hover {
  box-shadow: -1px -1px 1px #000;
}

.carta:hover .scritta{
  color: orange;
}

.carta:active .scritta{
  color: green;
}

li:nth-child(2) .carta:nth-child(3) {
  background-color: white;
  background-image: none;
  box-shadow: -1px -1px 1px #000;

}
li:nth-child(2) .carta:nth-child(3) .foto{
  display: block;
  width: 130px;
  height: 130px;
}
li:nth-child(2) .carta:nth-child(3) .scritta{
  color: green;
}
