* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Black Ops One', cursive;
  background-color: lightblue;
}

ul li {
  list-style: none;
}
.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.carta {
  display: inline-block;
  width: 150px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
  background-image: url("../img/pattern.png");
  background-size: 280px;
  background-repeat: repeat;
  position: relative;
}

.carta.balloon:hover {
  background-color: white;
  background-image: none;
}

.foto {
  position: absolute;
  display: none;
  top: 20px;
  left: 10px;
}

.carta.balloon:hover .foto{
  display: block;
  width: 130px;
  height: 130px;
}

.scritta {
  width: 130px;
  height: 50px;
  top: 150px;
  left: 10px;
  position: absolute;
  color: white;
}

.carta.balloon:hover .scritta.balloon{
  color: orange;
}

.carta.balloon:active .scritta.balloon{
  color: purple;
}
