* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Black Ops One', cursive;
  background-color: lightblue;
}

ul li {
  list-style: none;
}
.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.carta {
  display: inline-block;
  width: 150px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
  background-image: url("../img/pattern.png");
  background-size: 280px;
  background-repeat: repeat;
}
